@use 'sources/styles/variables.scss' as *;
@use 'sources/styles/mixins.scss' as mixin;

.sidebar {
  min-width: 323px;
  overflow-y: scroll;
  background: #172060;
  border-radius: 0 0 0 4px;
  color: #fff;

  .title {
    @include mixin.textStyle($family: $defaultFont, $weight: 500, $size: 19.5px, $height: 29px);
    padding-left: 39px;
  }
  .pairsList {
    @include mixin.textStyle($family: $defaultFont, $weight: 500, $size: 18.5px, $height: 28px);
    margin-top: 26px;

    .pair {
      cursor: pointer;
      padding: 24px 39px;
      padding-right: 0;

      &:hover {
        color: #000;
        background-color: #fff;
      }
    }
    .active {
      color: #000;
      background-color: #fff;
    }
  }
}
